.profile{
    justify-content: center !important;
    label{
        width: 100%;
        text-align: center;
        color: #6495ED !important;
        cursor: pointer;
    }
    img.image-profile{
        width: 150px !important;
        height: 150px;
        border-radius: 50%;
        object-position: center center;
        object-fit: cover;
    }
}
.frm-control{
    display: flex;
    padding: 10px 40px;
    width: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    label{
        color: rgba(0, 0, 0, 0.7);
        margin: 12px 4px;
        font-family: 'vazir';
        font-size: 16px;
    }
    textarea{
        width: 100%;
        padding: 10px 15px;
        border-radius: 4px;
        border: none;
        resize: none;
        outline: 2px solid rgba(0, 0, 0, 0.6);
        direction: rtl;
        font-size: 18px;
        font-family: 'yekan';
        &:focus, &:active{
            outline: 3px solid #BA55D3;
        }
    }
    input{
        display: inline-flex;
        width: 100%;
        height: 40px;
        padding: 0 15px;
        border-radius: 4px;
        border: none;
        outline: 2px solid rgba(0, 0, 0, 0.6);
        direction: rtl;
        font-size: 18px;
        font-family: 'yekan';
        &:focus, &:active{
            outline: 3px solid #BA55D3;
        }
    }
    a{
        text-decoration: none;
        direction: rtl;
        font-family: 'vazir';
        color: #6495ED;
    }

}

button.custom-btn{
    margin: 20px;
    padding: 10px 30px;
    border-radius: 4px;
    position: relative;
    left: 20px;
    font-family: 'vazir';
    font-size: 16px;
    cursor: pointer;
    background-color: #0069A8;
    color: #fff;
    border: none;
    &:active{
        border: none;
        transform: scale(1.05);
    }
}
a.custom-btn-black,button.custom-btn-black{
    font-family: 'vazir';
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    background-color: rgb(48, 46, 46);
    color: rgba(255, 255, 255, 0.9);
    transition: color 500ms,box-shadow 500ms, transform 500ms;
    &:hover{
        color: #fff;
        transform: scale(1.04);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    }
    padding: 15px;
    border-radius: 5px;
    margin: 8px;
}

jdp-container{
    font-family: 'yekan';
}
.post-info{
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: -5px !important;   
    font-family: sans;
    font-weight: normal;
    color: rgba($color: #000000, $alpha: 0.7);
    span{
        margin-left: 12px;
    }
}
.comment-item{
    margin: 15px 0;
    width: 100%;
    padding: 0 40px;
    direction: rtl;   
    .item-top{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img{
            width: 50px;
            height: 50px;
            object-fit: cover;
            object-position: center center;
            border-radius: 50%;
        }
        .item-info{
            font-family: sans;
            margin-right: 10px;
            .user-name{
                font-size: 18px
            }
            .comment-date{
                &::before{
                    content: 'تاریخ:';
                    font-size: 13px;
                    position: relative;
                    bottom: 1.5px;
                }
                color: rgba($color: #000000, $alpha: .7);
                font-size: 15px;
            }
        }
    }
    .item-message{
        padding-top: 15px;
        display: flex;
        span{
            color: rgba($color: #000000, $alpha: .2);
            font-size: 40px;
            position: relative;
            right: 16px;
        }
        .content{
            text-align: justify;
            margin-right: 25px;
            width: 100%;
            margin-top: 10px;
            font-size: 15px;
            font-family: vazir;
        }
    }
       
}

.pagination {
    width: auto;
    margin: 2% 15%;
	height: 80px;
	line-height: 80px;
	background-color: white;
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
	ul {
		display: flex;
		padding: 0;
		margin: 0;
		box-shadow: 2px 2px 5px rgba(black, 0.2);
		li {

            font-family: 'yekan';
			flex: 1;
			list-style: none;
			text-align: center;
			position: relative;
			font-size: 16px;
			font-weight: bold;
			transition: color 0.5s ease;
			cursor: pointer;
			user-select: none;
            a{
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                text-decoration: none;
                color: #000;
                background-color: rgba(white, 0.25);
                
            }
            &.active{
                span{
                    color: #BA55D3 !important;
                }
                border-bottom: 4px solid #BA55D3 !important;                
            }
			&:hover {
                a{
                    color: #BA55D3;
                }
                border-bottom: 4px solid #BA55D3;
			}
		}
		
	}
}

.sticky{
    position: fixed !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2 !important;
}