body{
    background-color:rgba($color: #d9d9d9, $alpha: 0.3);
    display: flex;
    overflow: hidden auto;
    position: relative;
    section.content{
        width: calc(100% - 230px);
        &.full-width{
            width: 100% !important;
        }
        header{
            display: flex;
            width: 100%;
            background-color: #3c8dbc;
            height: 50px;
            justify-content: space-between;
            ul{
                display: flex;
                justify-content: center;
                list-style: none;
                padding: 0;
                margin: 0;
                li{
                    display: inline-flex;
                    align-items: center;
                    padding: 0 14px;
                    user-select: none;
                    cursor: pointer;
                    position: relative;
                    &.profile{
                        img{
                            width: 25px;
                            border-radius: 50%;
                        }
                        span{
                            font-family: 'vazir';
                            font-size: 16px;
                            margin-right: 10px;
                            color: #fff;
                        }
                        .profile-menu{
                            position: absolute;
                            top: 40px;
                            left: 2px;
                            z-index: 1000;
                            width: 300px;
                            cursor: default;
                            display: none;
                            &.active{
                                display: block;
                            }
                            .profile-wrapper{
                                width: 100%;
                                margin-top: 12px;
                                background-color: #fff;
                                border-bottom-left-radius: 6px;
                                border-bottom-right-radius: 6px;
                                border: 1px solid #dddddd;
                                overflow: hidden;
                                .profile-wrapper-header{
                                    margin: 2px;
                                    display: flex;
                                    width: auto;
                                    padding: 10px 0 25px 0;
                                    justify-content: center;
                                    flex-wrap: wrap;
                                    background-color: #3C8DBC;          
                                    img{
                                        width: 100px;
                                        border-radius: 50%;
                                        border: 4px solid rgba($color: #fff, $alpha: 0.4);
                                    }
                                    span{
                                        text-align: center;
                                        width: 100%;
                                        margin: 10px 0 4px 0;
                                        font-family: 'vazir';
                                        font-size: 20px;
                                        color: #EEEEEE;
                                    }
                                    b{
                                        width: 100%;
                                        text-align: center;
                                        font-family: 'vazir';
                                        color: #EEEEEE;
                                        font-size: 12px;
                                    }
                                }
                                .profile-wrapper-body{
                                    ul{
                                        display: flex;
                                        justify-content: space-between;
                                        margin: 2px;
                                        li{
                                            padding: 10px;
                                            background-color: transparent;
                                            a{
                                                text-decoration: none;
                                                font-family: 'yekan';
                                                font-size: 18px;
                                                color: #444444;
                                            }
                                        }
                                    }
                                }
                                .profile-wrapper-footer{
                                    background-color: #F9F9F9;
                                    ul{
                                        display: flex;
                                        justify-content: space-between;
                                        li{
                                            padding: 15px 12px;
                                            background-color: transparent;
                                            button{
                                                font-family: 'vazir';
                                                font-size: 14px;
                                                color: #666666;
                                                border-radius: 2px;
                                                padding: 5px 16px;
                                                background-color: #E7E7E7 !important;
                                                border: 1px solid #ADADAD;
                                            }
                                        }
                                    }
                                }

                            }
                        }
                    }
                    .badge{
                        font-family: 'yekan';
                        font-size: 16px;
                        padding-top: 2px !important;
                        padding: 0px 4px;
                        border-radius: 50px;
                        position: absolute;
                        top: 4px;
                        left: 2px;
                    }
                    .material-symbols-outlined{
                        color: #fff;
                    }

                    &:hover{
                        background-color: rgba(0, 0, 0, 0.1);
                    }

                    .header-box{
                        width: 300px;
                        position: absolute;
                        z-index: 1000;
                        background-color: #fff;
                        top: 55px;
                        left: 0;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        border: 1px solid #ddd;
                        cursor: default;
                        user-select: text;
                        overflow: hidden;
                        display: none;
                        &.active{
                            display: block;
                        }
                        .top{
                            display: flex;
                            padding: 12px 10px;
                            justify-content: space-between;
                            border-bottom: 2px solid #f4f4f4;
                            a,button{
                                background-color: transparent;
                                border: none;
                                text-decoration: none;
                                color: #666;
                                font-family: 'yekan';
                                font-size: 14px;
                            }
                            span{
                                font-family: 'vazir';
                                font-size: 14px;
                                direction: rtl;
                                color: #666;
                            }
                        }
                        .body{
                            max-height: 250px;
                            overflow-y: auto;
                            .box-item{
                                display: flex;
                                padding: 12px;
                                border-bottom: 1px solid #f5f5f5;
                                justify-content: space-between;
                            }
                        }
                        .footer{
                            text-align: center;
                            padding: 8px 0;
                            a{
                                text-decoration: none;
                                color: #666;
                                font-family: 'yekan';
                                font-size: 15px;
                            }
                        }
                    }
                }
            }

            img.menu-icon{
                align-self: center;
                width: 32px;
                height: 40px;
                position: relative;
                right: 8px;
                bottom: 2px;
                filter: invert(100);
                cursor: pointer;
                user-select: none;
            }
        }
    }
    
    section.menu{
        width: 230px;
        height: 100vh;
        overflow: hidden auto;
        background-color: #222d32;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        &.hidden{
            width: 0;
        }
        .menu-top{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            user-select: none;
            background-color: #367fa9;
            h4{
                color: #fff;
                font-family: 'yekan';
                position: relative;
                top: 6px;
            }
            &:hover{
                background-color: rgba($color: #367fa9, $alpha: 0.95);
            }
        }
        .menu-body{
            .menu-header{
                .menu-header-user{
                    display: flex;
                    justify-content: flex-end;
                    padding: 10px;
                    img{
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                    }
                    .info{
                        position: relative;
                        top: 2px;
                        padding: 0 10px;
                        display: flex;
                        flex-wrap: wrap;
                        text-align: right;
                        font-family: 'vazir';
                        *{
                            width: 100%;
                        }
                        b{
                            font-size: 16px;
                            color: #fff;
                        }
                        span{
                            .green-icon{
                                background-color: #3C763D;
                                display: inline-block;
                                width: 9px;
                                height: 9px;
                                border-radius: 100%;
                                margin-left: 5px;
                            }
                            margin-top: 2px;
                            color: #ddd;
                            font-size: 14px;
                        }
                    }
                }
                .menu-header-search{
                    form{
                        display: flex;
                        padding: 10px;
                        input{
                            width: calc(100% - 35px);
                            background-color: #374850;
                            border: none;
                            outline: none;
                            height: 40px;
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                            direction: rtl;
                            padding: 0 10px;
                            font-family: 'vazir';
                            font-size: 14px;
                        }
                        button{
                            height: 40px;
                            width: 35px;
                            border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;
                            span{
                                color: #999999;
                                position: relative;
                                top: 4px;
                                font-size: 22px;
                            }
                            background-color: #374850;
                            border: none;
                        }
                        &.active{
                            input,button{
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
            .menu-content{
                ul{
                    margin: 0;
                    padding: 0;
                    h6{
                        text-align: right;
                        background-color: #1A2226;
                        color: #4B646F;
                        font-family: 'yekan';
                        padding: 12px 18px;
                        margin: 0;
                    }
                    li{
                        display: flex;
                        padding: 10px 14px;
                        justify-content: flex-end;
                        position: relative;
                        cursor: pointer;
                        a{
                            text-decoration: none;
                            color: #ccc;
                            font-family: 'vazir';
                            font-size: 14px;
                            position: relative;
                            bottom: 3px;
                            span{
                                position: relative;
                                left: 0;
                                top: 6px;
                                font-size: 18px;
                                margin-left: 2px;
                            }
                        }
                        span{
                            color: #ccc;
                            font-size: 18px;
                            position: absolute;
                            left: 14px;
                            top: 13px;
                            transition: transform 300ms;
                        }
                        &:hover{
                            background-color: #1E282C;
                            a{
                                color: #fff;
                            }
                            span{
                                color: #fff;
                            }
                        }
                        &.active{
                            border-left: 3px solid #3C8DBC;
                            background-color: #1E282C;
                            a{
                                color: #fff;
                            }
                            span{
                                color: #fff;
                            }
                        }
                        .sub-menu{
                            overflow: hidden;
                            background-color: rgba($color: #fff, $alpha: 0.08);
                            position: absolute;
                            height: 0;
                            top: 46px;
                            left: 0;
                            right: 0;
                            ul{
                                li{
                                    padding: 8px;
                                    a{
                                        font-size: 12px;
                                        color: #ccc;
                                    }
                                    span{
                                        color: #ccc;
                                    }
                                    &:hover{
                                        background-color: transparent;
                                        a{
                                            color: #fff;
                                        }
                                        span{
                                            color: #fff;
                                        }
                                    }           
                                    &.active{
                                        border: none;
                                        background-color: transparent;
                                        a{
                                            font-size: 12px;
                                            color: #fff;
                                        }
                                        span{
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                        &.show-sub-menu{
                            span{
                                transform: rotate(270deg);
                            }
                            .sub-menu{
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}



@media screen and (min-width:0) and (max-width: 600px){
    section.content{
        width: 100% !important;
    }
    section.menu{
        width: 0 !important;

        &.hidden{
            width: 280px !important;
        }
    }
}